.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
}

.nav-items {
  list-style: none;
  display: flex;
}

.nav-items > li {
  padding: 10px;
}

.nav-image {
  width: 60px;
}



.main-content {
  padding-left: 20px;
}

.main-content-header {
  font-family: 'Courier New', Courier, monospace;
}

.main-content-items {
  font-family: 'Courier New', Courier, monospace;
}



.footer {
  background-color: #add8e6;
  color: black;
  text-align: left;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

